[Unit]
Description=Check for s4lockdown kernel updates at boot and scheduled times

[Timer]
OnBootSec=15min
OnCalendar=*-*-* 10:00:00
OnCalendar=*-*-* 15:00:00
OnCalendar=*-*-* 20:00:00
AccuracySec=1min
Persistent=true
Unit=s4lockdown-update.service

[Install]
WantedBy=timers.target
